<div class="tab">
  <button class="tab__links" data-href="london">London</button>
  <button class="tab__links" data-href="paris">Paris</button>
  <button class="tab__links" data-href="tokyo">Tokyo</button>
</div>

<div id="london" class="tab__content">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="paris" class="tab__content">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="tokyo" class="tab__content">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>