// main project styles + custom normalize
*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 100%;
  line-height: 1.15; // Correct the line height in all browsers.
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
  height: 100%;
  overflow-x: hidden;

  @include d(992) {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0; // Remove the margin in all browsers.
  font-size: 16px;
  font-family: $fontPrimary;
  line-height: 1.7em;
  color: $black;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;
  // overflow: hidden;
  // custom scrollbar

  @include d(992) {
    scroll-behavior: smooth;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 0;
    // pointer-events: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 3px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $secondary;
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  font-family: $fontTitle;

  // font-family: $font-primary;
}

h1 {
  font-size: 70px;
  line-height: 1em;
  margin-bottom: 35px;

  @include d(1280) {
    font-size: 60px;
  }

  @include d(992) {
    font-size: 50px;
  }

  @include d(768) {
    margin-bottom: 26px;
  }

  @include d(768) {
    font-size: 40px;
  }

  span {
    color: $primary;
    font-style: italic;
  }


}

h2 {
  font-size: 70px;
  line-height: 1em;
  margin-bottom: 20px;

  @include d(1280) {
    font-size: 60px;
  }

  @include d(992) {
    font-size: 50px;
  }

  @include d(768) {
    margin-bottom: 26px;
  }

  @include d(768) {
    font-size: 40px;
  }

  span {
    color: $primary;
    font-style: italic;
  }
}

h3 {
  line-height: 1em;
}

h4 {
  font-size: 40px;
  line-height: 1em;
}

h5 {
  font-size: 24px;
  line-height: 1em;
}

h6 {
  font-size: 16px;
  line-height: 1em;

}

hr {
  box-sizing: content-box; // Add the correct box sizing in Firefox.
  height: 0; // Add the correct box sizing in Firefox.
  overflow: visible; // Show the overflow in Edge and IE.
}

pre {
  font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
  font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: 1.6em;
  margin: 0;
  background-color: transparent; //Remove the gray background on active links in IE 10.

  &:visited {
    text-decoration: none;
  }
}

abbr[title] {
  border-bottom: none; // Remove the bottom border in Chrome 57-
  text-decoration: underline; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  text-decoration: underline dotted; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
}

b,
strong {
  font-weight: bold; // Add the correct font weight in Chrome, Edge, and Safari.
}

code,
kbd,
samp {
  font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
  font-size: 1em; // Correct the odd `em` font sizing in all browsers; // Add the correct font size in all browsers.
}

sub,
sup {
  font-size: 75%;
  line-height: 0; // Prevent `sub` and `sup` elements from affecting the line height in all browsers.
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img,
picture,
source {
  max-width: 100%;
  width: 100%;
  display: block;
  border-style: none; // Remove the border on images inside links in IE 10.
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; //  Change the font styles in all browsers.
  font-size: 100%; //  Change the font styles in all browsers.
  line-height: 1.15; //  Change the font styles in all browsers.
  margin: 0; // Remove the margin in Firefox and Safari.
}

input {
  line-height: 1em;
  background-color: transparent;
}

button,
input {
  overflow: visible; // Show the overflow in Edge.
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  text-transform: none; // Remove the inheritance of text transform in Edge, Firefox, and IE. Remove the inheritance of text transform in Firefox.
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

// Correct the inability to style clickable types in iOS and Safari.
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// Correct the padding in Firefox.
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; // Correct the text wrapping in Edge and IE.
  color: inherit; // Correct the color inheritance from `fieldset` elements in IE.
  display: table; // Correct the text wrapping in Edge and IE.
  max-width: 100%; // Correct the text wrapping in Edge and IE.
  padding: 0; // Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
  white-space: normal; // Correct the text wrapping in Edge and IE.
}

progress {
  vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

// Remove the default vertical scrollbar in IE 10+.
textarea {
  overflow: hidden;
  resize: none;

  &:focus {
    outline: none;
  }
}

label {
  cursor: pointer;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; // Add the correct box sizing in IE 10.
  padding: 0; // Remove the padding in IE 10.
}

// Correct the cursor style of increment and decrement buttons in Chrome.

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield; //  Correct the odd appearance in Chrome and Safari.
  outline-offset: -2px; // Correct the outline style in Safari.
}

// Remove the inner padding in Chrome and Safari on macOS.
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; // Correct the inability to style clickable types in iOS and Safari.
  font: inherit; // Change font properties to `inherit` in Safari.
}

details {
  display: block; // Add the correct display in Edge, IE 10+, and Firefox.
}

summary {
  display: list-item; // Add the correct display in all browsers.
}

template {
  display: none; // Add the correct display in IE 10+.
}

[hidden] {
  display: none; //  Add the correct display in IE 10.
}

p,
li {
  line-height: 1.5em;
  margin: 0;
  font-size: 16px;
  color: $black;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}



tr {
  line-height: 1.5em;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

// hide date navigation in input
input[type='date'] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    right: -10px;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
  }
}

// hide arrows in input type number
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

textarea,
input {
  &::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    color: $gray;
  }

  &::-moz-placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    color: $gray;
  }

  &:-ms-input-placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    color: $gray;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    color: $gray;
  }
}

input {
  outline: none;
}

.main-wrapper {
  position: relative;
  overflow: hidden;
  &.blog{
    overflow: initial;
  }
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  width: 100%;

  // height: 100%;
  @include d(768) {
    padding: 0 24px;
  }
}

.main,
main {
  display: block;
  position: relative;
}

.locked {
  overflow: hidden;
}

// project typography
.title-1 {
  @extend h1;
}

.title-2 {
  @extend h2;
}

.title-3 {
  @extend h3;
}

.title-4 {
  @extend h4;
}

.title-5 {
  @extend h5;
}

.title-6 {
  @extend h6;
}

.btn {
  position: relative;
  color: $primary;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  padding-left: 47px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  transition: color $hover-duration $timing;
  cursor: pointer;

  span {
    position: relative;
    transform: translate(0, 0);
    transition: transform $hover-duration $timing;
    text-decoration: none !important;

  }

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $primary;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color $hover-duration $timing, left $hover-duration $timing;
  }

  &:hover {
    color: $primaryLight;

    span {
      transform: translate(-47px, 0);
    }

    &::before {
      background-color: $primaryLight;
      left: calc(100% - 30px);
    }

    .svg-arrow {
      left: calc(100% - 36px);
    }
  }

  &.disabled {
    color: $gray;

    &::before {
      background-color: $gray;
    }
  }
}


.btn_xl {
  position: relative;
  color: $white;
  background-color: $primary;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  padding: 0 35px;
  min-width: 240px;
  min-height: 58px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: color $hover-duration $timing, background-color $hover-duration $timing;
  cursor: pointer;

  span {
    position: relative;
    transform: translate(0, 0);
    transition: transform $hover-duration $timing;
    text-decoration: none !important;


  }

  &::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    top: 50%;
    left: 0;
    margin-right: 23px;
    transition: background-color $hover-duration $timing, transform $hover-duration $timing;
  }

  .svg-arrow {
    left: 74px;
    width: 22px;
    fill: aqua;
    mix-blend-mode: difference;
  }

  &:hover {
    background-color: $secondary;

    span {
      transform: translate(-80%, 0);
    }

    &::before {
      transform: translate(120px, 0);
    }

    .svg-arrow {
      transform: translate(98px, -50%);
      fill: $secondary;
      mix-blend-mode: normal;
    }
  }

  &.disabled {
    color: $gray;

    &::before {
      background-color: $gray;
    }
  }
}


.btn_sm,
.form__btn {
  position: relative;
  color: $primary;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  padding-left: 47px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  transition: color $hover-duration $timing;
  cursor: pointer;

  span {
    position: relative;
    transform: translate(0, 0);
    transition: transform $hover-duration $timing;
    text-decoration: none !important;
  }

  &::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    top: 2px;
    left: 0;
    transition: background-color $hover-duration $timing, left $hover-duration $timing;
  }

  .svg-arrow {
    fill: $primary;
  }

  &:hover {
    color: $primaryLight;

    span {
      transform: translate(-47px, 0);
    }

    &::before {
      background-color: $primary;
      left: calc(100% - 30px);
    }

    .svg-arrow {
      left: calc(100% - 36px);
      fill: $white;
    }
  }

  &.disabled {
    color: $gray;

    &::before {
      background-color: $gray;
    }
  }
}

.svg-arrow {
  width: 20px;
  height: 20px;
  fill: $black;
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translate(0, -50%);
  transition: left $hover-duration $timing;
}


.form__row {
  display: flex;
  margin: 0 -15px;

  @include d(768) {
    flex-wrap: wrap;
  }
}

.form__btn {
  position: relative;
  width: fit-content;
}

.custom-submit {
  position: absolute;
  width: 100%;
  opacity: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.form__box {
  padding: 0 15px;
  position: relative;
  width: 304px;
  margin-bottom: 15px;
  padding-bottom: 14px;

  @include d(768) {
    width: 100%;
  }
}

.custom-input {
  border: none;
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid $black;
  padding: 15px 0;
}

.error {
  position: absolute;
  bottom: 0;
  left: 15px;
  color: $error;
  margin: 0;
  line-height: 1em;
  font-size: 12px;
  opacity: 0;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  z-index: 1000;

  &__logo {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    flex: 0 0 100px;
    position: relative;
    z-index: 1;
  }

  &__word {
    flex: 0 0 200px;

  }
}

.section {
  position: relative;

  @include d(768) {
    flex-direction: column;
  }

  &__gift {
    padding: 220px 0 0 0;

    @include d(1280) {
      padding: 120px 0;
    }

    @include d(992) {
      padding: 80px 0;
    }
  }
}


.js-show {
  opacity: 0;
  transition: transform $duration $timing, opacity $duration $timing;

  &.show {
    opacity: 1;
  }
}


.wpcf7-spinner {
  position: absolute;
  margin: 0;
  left: 120%;
  bottom: 0;
}

.wpcf7-not-valid-tip {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $error;
  margin: 0;
  line-height: 1em;
  font-size: 12px;
  // opacity: 0;
}

.wpcf7-form-control-wrap {
  padding-bottom: 35px;
}

.wpcf7 form .wpcf7-response-output {
  position: absolute;
  border: none;
  margin: 0;
  font-size: 12px;
  padding: 5px 0;
}

.wpcf7 form.invalid .wpcf7-response-output {
  color: $primary;
}

.wpcf7 form.sent .wpcf7-response-output {
  color: $success;
}

.wpcf7-spinner {
  left: 155%;
  background-color: $white;

  &::before {
    background-color: $primary;
  }
}

.blog-pagination {
  margin: 0 0 80px 0;
  &__content {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 0 0 0 336px;
    border-top: 1px solid $color-grey-5;

    &_numbers {
      margin: 0 auto;

      a {
        &.active {
          color: $error;
          background-color: #FFF5F5;
        }
      }

      .current {
        color: $error;
        background-color: #FFF5F5;
      }

      a, span {
        font-size: 14px;
        line-height: 20px;
        border-radius: 8px;
        color: $color-grey-4;
        padding: 10px 16px;
      }
    }

    > div + a {
      span {
        padding: 0 23px 0 0!important;

        &:before {
          left: initial!important;
          right: 0!important;
          transform: rotateY(180deg) translateY(-50%)!important;
        }
      }
    }
  }

  @media (max-width: 1199px) {
    display: none;
  }
}

.spots {
  display: inline-block;
  text-align: center;
  border-radius: 16px;
  padding: 12px 18px;
  background-color: #FFF5F5;
  color: $error;
  font-size: 14px;
  line-height: 20px;
}

.navbar-blog {

  > p {
    strong {
      font-size: 24px;
      line-height: 32px;
      font-family: "DMSerifText";
      font-weight: 400;
      color: #E30517;
      text-transform: uppercase;
    }
  }

  ul {
    margin: 20px 0 0 0;
    list-style: none;

    li {
      @media (min-width: 1200px) {
        &:hover {
          a {
            color: $error;
          }
        }
      }

      a {
        display: block;
        border-radius: 6px;
        color: $color-grey-4;
        transition: 500ms;
        padding: 10px 14px;
        font-size: 16px;
        line-height: 31px;
        text-decoration: initial;
      }

      &.active {
        a {
          color: $black;
          background-color: $color-grey-2;
          font-weight: 700;
        }
      }
    }
  }

}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1px solid $black;
  padding: 15px;
  min-width: 170px;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  font-weight: bold;
  border-radius: 20px;
  vertical-align: top;
  text-decoration: initial;

  span {
    position: relative;
    mix-blend-mode: difference;
  }

  &:before {
    content: "";
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    transition: top 0.2s cubic-bezier(0.7, 0, 0.2, 1);
    border-radius: 19px;
  }

  @media (min-width: 1200px) {
    &:hover:before {
      top: -110%;
    }
  }

  &--primary {
    background-color: $white;
    color: $white;

    &:before {
      background-color: $black;
    }
  }

  &--secondary {
    background-color: $black;
    color: $white;

    &:before {
      background-color: $white;
    }

    &._pagination {
      border: 1px solid $color-grey-6;
      color: $color-grey-6;
      min-width: initial;
      padding: 10px 20px;

      span {
        mix-blend-mode: initial;
        padding: 0 0 0 23px;
        position: relative;
        transition: 500ms;

        &:before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-image: url("../img/arrow.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }

      &.next {
        span {
          padding: 0 23px 0 0;

          &:before {
            left: initial;
            right: 0;
            transform: rotateY(180deg) translateY(-50%);
          }
        }
      }

    }
  }

  &--grey {
    background-color: $black;
    color: $color-grey-3;

    &:before {
      background-color: $color-grey-3;
    }
  }

  &[disabled],
  &--disabled {
    background-color: $color-grey-3;
    color: $color-grey-1;
    cursor: default;
    border-color: $color-grey-3;

    span {
      mix-blend-mode: normal;
    }

    &:before {
      display: none;
    }
  }
}

.root{
  padding: 115px 0 0 0;
}