// include font family
@mixin font($fontName, $fileName, $weight, $style) {
  @font-face {
    font-family: $fontName;
    src: url("../fonts/#{$fileName}.woff") format("woff"),
    url("../fonts/#{$fileName}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

//Media queries
@mixin rh($width) {
  @media only screen and (min-width: #{$width}px),
  (any-hover: hover) {
    @content;
  }
}

//width
@mixin d($width) {
  @media only screen and (max-width: #{$width}px) {
    @content;
  }
}

@mixin m($width) {
  @media only screen and (min-width: #{$width}px) {
    @content;
  }
}

//height
@mixin dh($height) {
  @media only screen and (max-height: #{$height}px) {
    @content;
  }
}

@mixin mh($height) {
  @media only screen and (min-height: #{$height}px) {
    @content;
  }
}

//retina
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
    @content;
  }
}